Source: connman
Maintainer: Patrik Flykt <patrik.flykt@linux.intel.com>
Section: net
Priority: optional
Build-Depends: debhelper(>=8), wpasupplicant(>=0.7), libglib2.0-dev(>=2.28),libdbus-1-dev(>=1.4), libgnutls-dev(>=2.8), iptables-dev(>=1.4.8), libreadline-gplv2-dev, openconnect, openvpn, vpnc

Package: connman
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: wpasupplicant, bluez, ofono, pacrunner
Conflicts: network-manager
Description: ConnMan daemon
 This unofficial package contains the Connection Manager (ConnMan) daemon
 .
 ConnMan, or Connection Manager, is a system level daemon that manages
 IPv4 and IPv6 network connections and the associated network devices.
 .
 ConnMan provides IPv4 and IPv6 connectivity via:
  * ethernet
  * WiFi, when wpa_supplicant is installed
  * Cellular, when oFono is installed
  * Bluetooth, when Bluez is installed
 .
 ConnMan implements DNS resolving and caching, DHCP clients for both IPv4 and
 IPv6, link-local IPv4 address handling and tethering (IP connection sharing)
 to clients via USB, ethernet, WiFi, cellular and Bluetooth.

Package: connman-vpn
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: connman (=${Source-Version})
Description: ConnMan VPN daemon
 This unofficial package contains the ConnMan VPN daemon
 .
 ConnMan VPN daemon manages VPNs on behalf of connmand and start and stops
 various VPN client applications. The VPN daemon can also be run standalone
 without connmand.

Package: connman-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, connman (>=0.80)
Description: ConnMan command line tools
 This unofficial package contains ConnMan command line tool and test scripts

Package: connman-dev
Section: devel
Architecture: any
Depends: ${misc:Depends}, libglib2.0-dev(>=2.28), libdbus-1-dev(>=1.4)
Description: ConnMan development files
 This unofficial package contains header files and pkgconfig support for
 developing ConnMan plugins.

Package: connman-doc
Section: doc
Architecture: any
Depends:
Description: ConnMan documentation
 This unofficial package contains documentation of ConnMan APIs
