#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_configure:
	./configure \
		--prefix=/usr \
		--sysconfdir=/etc \
		--localstatedir=/var \
		--enable-debug \
		--enable-openconnect=builtin \
		--enable-openvpn=builtin \
		--enable-vpnc=builtin \
		--with-systemdunitdir=/lib/systemd/system

override_dh_installinit:
	cp -a scripts/connman debian/connman-upstream.init
	cp -a src/connman.service debian/connman-upstream.service
	cp -a src/connman-wait-online.service debian/connman-upstream-wait-online.service
	cp -a vpn/connman-vpn.service debian/connman-upstream-vpn.service
	dh_systemd_enable --no-enable
	dh_installinit
	dh_systemd_start --restart-after-upgrade

override_dh_auto_test:
