#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_configure:
	./configure \
		--prefix=/usr \
		--localstatedir=/var \
		--enable-debug \
		--enable-openconnect=builtin \
		--enable-openvpn=builtin \
		--enable-vpnc=builtin \
		--with-systemdunitdir=/lib/systemd/system

override_dh_installinit:
	cp -a scripts/connman debian/connman.init
	dh_installinit

override_dh_auto_test:
